@reference "./tailwind.css";

.container {
  @apply w-[calc(100%_-_2.5rem)] lg:w-[calc(100%_-_4rem)] mx-auto max-w-lg md:max-w-3xl lg:max-w-5xl xl:max-w-7xl;
}

.container-sm {
  @apply w-[calc(100%_-_2.5rem)] lg:w-[calc(100%_-_4rem)] mx-auto max-w-lg md:max-w-3xl;
}

@layer base {
  :where(section) {
    @apply my-16;
  }

  html {
    text-decoration-skip-ink: none;
  }

  .pure {
    stroke: unset !important;
  }

  .featureSimple:nth-of-type(odd) figure{
    order: 2;
  }
}
