---
import { storyblokEditable } from '@storyblok/astro'
import RichText from './utils/RichText.astro'
import { Image } from 'astro:assets'
const { blok } = Astro.props
---

<section class="container" {...storyblokEditable(blok)} data-aos="fade-up">
  <div class="min-h-[35vh] md:min-h-[75vh] bg-center bg-cover bg-no-repeat relative bg-wrapper grid">
    {
      blok.image?.filename && (
        <Image
          src={blok.image?.filename}
          alt={blok.image?.alt}
          priority={blok.image?.loading === 'eager' ? true : false}
          class="rounded-[var(--radius-box)]"
          layout="constrained"
          inferSize
        />
      )
    }

    {
      blok.content && (
        <div class="absolute bottom-0 start-0 end-0 max-w-xs md:max-w-sm text-center mx-auto p-6 md:start-auto md:text-start md:mx-0">
          <div
            data-aos-delay="300"
            data-aos="fade-down"
            class={`${blok.content.content.length < 3 ? 'text-center' : ''} px-5 py-4 inline-block ${blok.cardColor === 'primary' ? 'bg-primary text-primary-content' : blok.cardColor === 'secondary' ? 'bg-secondary text-secondary-content' : blok.cardColor === 'accent' ? 'bg-accent text-accent-content' : 'bg-transparent'} rounded-[var(--radius-box)] md:p-7`}>
            <RichText content={blok.content} />
          </div>
        </div>
      )
    }
  </div>
</section>

<style>
  .bg-wrapper > * {
    grid-row: 1/1;
    grid-column: 1/1;
  }
</style>
