---
import { storyblokEditable } from '@storyblok/astro'
import { Image } from 'astro:assets'
import RichText from './utils/RichText.astro'
const { blok } = Astro.props
---

<section class="container featureSimple" {...storyblokEditable(blok)} data-aos="fade-up">
  <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
    {
      blok.image?.filename && (
        <figure>
          <Image
            src={blok.image.filename}
            alt={blok.image.alt}
            class="rounded-[var(--radius-box)]"
            priority={blok.image.loading === 'eager' ? true : false}
            layout="constrained"
            inferSize
          />
        </figure>
      )
    }

    <div class="mt-5 sm:mt-10 lg:mt-0">
      <div class="space-y-6 sm:space-y-8">
        <RichText content={blok.content} />
      </div>
    </div>
  </div>
</section>
