---
import { Image } from 'astro:assets'
const { blok } = Astro.props
---

{
  blok.image?.filename && (
    <section class="container flex justify-center">
      <Image
        src={blok.image.filename}
        alt={blok.image.alt}
        class="rounded-[var(--radius-box)] h-full w-auto"
        priority={blok.image.loading === 'eager' ? true : false}
        layout="full-width"
        inferSize
      />
    </section>
  )
}
