---
import { storyblokEditable } from '@storyblok/astro'
import RichText from './utils/RichText.astro'
import { Image } from 'astro:assets'
import InlineSvg from './utils/InlineSvg.astro'
const { blok } = Astro.props

blok.timeline.map((item) => (item.isSvg = item.image?.filename.endsWith('.svg')))
---

<section class="container" {...storyblokEditable(blok)}>
  {
    blok.timeline.map((item, idx) => (
      <div class="group relative flex gap-x-5" data-aos="fade-up" data-aos-duration={idx * 200}>
        <div class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-primary">
          {item.image && (
            <div class="relative z-10 size-6 flex justify-center items-center">
              {item.isSvg && <InlineSvg src={item.image.filename} />}
              {!item.isSvg && item.image.filename && (
                <Image src={item.image.filename} alt={item.image.alt} layout="constrained" inferSize />
              )}
            </div>
          )}
        </div>

        <div class="grow pb-8 group-last:pb-0">
          <RichText content={item.content} />
        </div>
      </div>
    ))
  }
</section>
